/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Estilização do container */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

.gorocket {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.gorocket>div {
    margin-bottom: 10px;
}

.gorocket img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

/* Estilização do card */
.card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    width: 100%;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
}

.card .name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.card .phrase {
    font-size: 1.2em;
    color: #777;
}

/* Estilização dos números e listas */
.pokemon-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.pokemon-number {
    font-size: 1.5em;
    font-weight: bold;
    color: #555;
    display: block;
    text-align: center;
    margin-right: 10px;
}

.pokemon-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pokemon-list li {
    padding: 5px 0;
    font-size: 1em;
    text-align: center;
}

.pokemon-list li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

/* Estilização das sombras */
ul.shadow {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shadow {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 150px;
    transition: transform 0.2s;
}

.shadow img {
    max-width: 50%;
    border-radius: 5px;
}

.shadow .pokemon-nome {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

/* Cores dos tipos */
.normal {
    background-color: #A8A77A;
    color: #FFFFFF;
}

.fogo {
    background-color: #FF4500;
    color: #FFFFFF;
}

.agua {
    background-color: #1E90FF;
    color: #FFFFFF;
}

.eletrico {
    background-color: #F7D02C;
    color: #FFFFFF;
}

.planta {
    background-color: #32CD32;
    color: #FFFFFF;
}

.gelo {
    background-color: #96D9D6;
    color: #FFFFFF;
}

.lutador {
    background-color: #C22E28;
    color: #FFFFFF;
}

.venenoso {
    background-color: #A33EA1;
    color: #FFFFFF;
}

.terrestre {
    background-color: #E2BF65;
    color: #FFFFFF;
}

.voador {
    background-color: #A98FF3;
    color: #FFFFFF;
}

.psiquico {
    background-color: #F95587;
    color: #FFFFFF;
}

.inseto {
    background-color: #A6B91A;
    color: #FFFFFF;
}

.pedra {
    background-color: #B6A136;
    color: #FFFFFF;
}

.fantasma {
    background-color: #735797;
    color: #FFFFFF;
}

.dragao {
    background-color: #6F35FC;
    color: #FFFFFF;
}

.sombrio {
    background-color: #705746;
    color: #FFFFFF;
}

.aco {
    background-color: #B7B7CE;
    color: #FFFFFF;
}

.fada {
    background-color: #D685AD;
    color: #FFFFFF;
}

.lider {
    background-color: #000;
    color: #FFFFFF;
}

.default {
    background-color: #FFFFFF;
    color: #000;
}

.weaknesses-list {
    display: none;
    list-style-type: none;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}
