.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

.gorocket {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.gorocket>div {
    margin-bottom: 10px;
}

.gorocket img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

.card {
    display: flex;
    align-items: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.card .name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.card .phrase {
    font-size: 1.2em;
}

.pokemon-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-number {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
}

.pokemon-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pokemon-list li {
    padding: 5px 0;
    font-size: 1em;
}

.pokemon-list li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.gorocket li img {
    background-image: url('https://raw.githubusercontent.com/nowadraco/pokedragonshadow.site/c3027920e2d9674426a728d292ff8ce08209b2d2/src/imagens/assets/shadow.png');
    background-size: cover;
    background-position: center;
}

ul.shadow {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shadow img {
    max-width: 50%;
    border-radius: 5px;
}

.shadow .pokemon-nome {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.shadow {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 150px;
    transition: transform 0.2s;
}

.normal {
    background-color: #A8A77A;
}

.fogo {
    background-color: #FF4500;
}

.agua {
    background-color: #1E90FF;
}

.eletrico {
    background-color: #F7D02C;
}

.planta {
    background-color: #32CD32;
}

.gelo {
    background-color: #96D9D6;
}

.lutador {
    background-color: #C22E28;
    color: #FFFFFF;
}

.venenoso {
    background-color: #A33EA1;
    color: #FFFFFF;
}

.terrestre {
    background-color: #E2BF65;
}

.voador {
    background-color: #A98FF3;
}

.psiquico {
    background-color: #F95587;
}

.inseto {
    background-color: #A6B91A;
}

.pedra {
    background-color: #B6A136;
}

.fantasma {
    background-color: #735797;
    color: #FFFFFF;
}

.dragao {
    background-color: #6F35FC;
    color: #FFFFFF;
}

.sombrio {
    background-color: #705746;
    color: #FFFFFF;
}

.aco {
    background-color: #B7B7CE;
}

.fada {
    background-color: #D685AD;
}

.lider {
    background-color: #000;
    color: #FFFFFF;
}

.default {
    background-color: #FFFFFF;
}